# Data Section

 ## Data Acquisition and Preprocessing 

### In this project, I will be using the following datasets to help solve my problem:
* The downloaded Postcode for the city of Leicester from https://www.doogal.co.uk/london_postcodes.php 
* Foursquare and geopy data to list various selected venues that I believe will be important for our target audience.
* The downloaded crime data for London from  https://data.london.gov.uk/dataset/recorded_crime_summary
 
* I will then filter the top 10 most common venue types of each neighborhoods. 
* The target audience will be given the top ten venues of each neighbourhood so they could look at them in determining which neighbourhood to settle

## Methodology
* I will mainly rely on Foursquare API to retrieve all venues of each neighborhoods, then group by each neighborhoods and count how many venues
* I will then filter the top 10 most common venue types of each neighborhoods. 
* I will also explore and analyse the crime data and show which neighborhoods are safe or not.
* The target audience will be given the top ten venues of each neighbourhood so they could look at them in determining which neighbourhood to settle.
* The target audience will be shown the crime levels of all the boroughs and or neighborhoods
* Since the postcode data of London and crime data have  already been downloaded, there is no need to scrape these data from  wikipedia pages.

In [1]:
import pandas as pd
import numpy as np

In [2]:
# The code was removed by Watson Studio for sharing.

,Unnamed: 0,Unnamed: 1,BOROUGH PROFILES,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,Choose Borough,NaN,Barking and Dagenham,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Theme,Indicator,Barking and Dagenham,Outer London,London,National comparator,NaN,National Comparator figure is:,Source,Link,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
df_data_0 = df_data_0.dropna()
print(df_data_0.head)

<bound method NDFrame.head of Empty DataFrame
Columns: [Unnamed: 0, Unnamed: 1, BOROUGH PROFILES, Unnamed: 3, Unnamed: 4, Unnamed: 5, Unnamed: 6, Unnamed: 7, Unnamed: 8, Unnamed: 9, Unnamed: 10, Unnamed: 11, Unnamed: 12, Unnamed: 13, Unnamed: 14, Unnamed: 15,   ]
Index: []>